/* common shared styles*/
body {
    font-family: "Lota", "Sans-serif", system-ui;
    font-family: "Open Sans", "Sans-serif";
    font-weight: 800; /* Adjust as needed */
}

.text-primary {
  color: #FD6E0A;
}

/* nav related styles */
nav {
  display: flex;

}

.nav-title {
  color:#181818;
  font-size: 45px;
  font-weight: 800;
}